@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  text-align: center;
  font-family: "RIDIBatang", serif;
}

@media (prefers-color-scheme: dark) {
  * {
    background: #22272e;
    color: white;
  }
}

a {
  text-decoration: none;
}

#vocaDiv {
  display: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
